.titleCounter {
  padding: 30px;
  height: 15vh;
  color: rgb(0, 229, 229);
}

@media (max-width: 500px) {
  div div {
    .titleCounter {
      padding: 10px;
      font-size: 18px;
      color: rgb(0, 229, 229);
    }
  }
}
